
    /* Name Selector */
    p {
        font-size: 16px;
        color: #f7f8e8;
        line-height: 1.6;
        font-family: fantasy;
    }
    
    /* ID Selector */
    #footer {
        background-color: #939597;
        color: #fbf9f9;
        text-align: center;
        padding: 15px 0;
        border-top: 3px solid #000000;
        clear: both;
    }
    
    /* Class Selector */
    .title {
        font-family: 'Luminari', fantasy;
        font-size: 32px;
        font-stretch: expanded;
        color: #f1f3d7;
        text-align: center;
        padding: 2px;
        margin: 5px 0;
    }
    .content {
        text-align: center;
        color: #f7f8e8;
        padding: 10px;
        margin: 10px 0;
    }
    
    /* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #68606c;
    font-family: 'Luminari', fantasy;
}

/* Header Styles */
header {
    background-color: #352f43;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Navigation Bar Styles */
nav {
    background-color: #939597;
    padding: 10px;
}

nav ul {
    list-style-type: circle;
    margin: 2px;
    padding: 2px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #f8f8f8;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    font-style: italic;
    color: #99d2d3;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
    color: #99d2d3;
}

/* List Styles */
ul, ol {
    margin-left: 20px;
    padding-left: 10px;
    text-align: left;
}

ul li, ol li {
    margin-bottom: 5px;
    text-align: left;
}

/* Link Styles */
a {
    color: #88B04B;
}

a:hover {
    text-decoration: underline;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid #88B04B;
}

th {
    padding: 10px;
    text-align: center;
}
td {
    padding: 10px;
    text-align: left;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000000;
    border-radius: 5px;
}